$mcolor: #217BF4;
*{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
  border-bottom: 1px solid rgb(198, 198, 198);
  background: linear-gradient(to right, #FFFFFF, #D4E7FE);
  .header-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .header-text{
      display: flex;
      gap: 80px;
      align-items: center;
      width: 600px;
      nav{
        display: flex;
        gap: 30px;
        a{
          color: #000;
          text-decoration: none;
          font-size: 18px;
          font-weight: 480;
          &:hover{
            font-weight: 550;
          }
        }
      }
    }
    input{
      border: none;
      padding: 10px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border: 1px solid grey;
      border-radius: 10px;
      background-color: #d4e7fe38;
    }
  }
}
.section1{
  background: linear-gradient(to right, #FFFFFF, #D4E7FE);
  height: 650px;
  .section1-container{
    margin: auto;
    max-width: 1200px;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    .btn1{
      background-color: #c4d9f5;
      padding: 12px 30px;
      border: none;
      color: #217BF4;
      font-weight: 550;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 20px;
    }
    h1{
      color: #0A093D;
      font-size: 60px;
      margin-bottom: 20px;
    }
    P{
      margin-bottom: 50px;
    }
    .buttons{
      display: flex;
      align-items: center;
      gap: 20px;
      .sec1-btn1{
        padding: 20px 40px;
        background-color: #217BF4;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        font-size: 17px
      }
      .sec1-btn2{
        @extend .sec1-btn1;
        background-color: transparent;
        color: #217BF4;
        border: 2px solid #217BF4;
      }
    }
    .d{
      img{
        margin-top: -100px;
      }
    }
  }
}
.section2{
  height: 700px;
  .sec2-container{
    margin: auto;
    max-width: 1200px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .sec2-text{
      margin-top: 50px;
      ul{
        color: #000;
        li::marker{
          color: #217BF4;
        }
      }
    }
    .sec2-imges{
      display: flex;
      align-items: center;
      max-width: 550px;
      gap: 30px;
    }
  }
}
.section3{
  .sec3-container{
    margin: auto;
    max-width: 1200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .sec3-block1{
      width: 30%;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgb(150, 150, 150);
      .bt{
      color: #ffffff;
      padding: 12px 30px;
      border: none;
      background-color: #217BF4;
      font-weight: 550;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 20px;
      margin-left: 20px;
      }
    }
  }
}
.section4{
  background: linear-gradient(to right, #FFFFFF, #F1F6FD, #F1F6FD, #F1F6FD00);
  height: 800px;
  padding: 1px;
  .sec4-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .sec4-block1{
      background-color: rgb(255, 255, 255);
      width: 45%;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 30px;
    }
  }
}