* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  border-bottom: 1px solid rgb(198, 198, 198);
  background: linear-gradient(to right, #FFFFFF, #D4E7FE);
}
header .header-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
header .header-container .header-text {
  display: flex;
  gap: 80px;
  align-items: center;
  width: 600px;
}
header .header-container .header-text nav {
  display: flex;
  gap: 30px;
}
header .header-container .header-text nav a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 480;
}
header .header-container .header-text nav a:hover {
  font-weight: 550;
}
header .header-container input {
  border: none;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgba(212, 231, 254, 0.2196078431);
}

.section1 {
  background: linear-gradient(to right, #FFFFFF, #D4E7FE);
  height: 650px;
}
.section1 .section1-container {
  margin: auto;
  max-width: 1200px;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}
.section1 .section1-container .btn1 {
  background-color: #c4d9f5;
  padding: 12px 30px;
  border: none;
  color: #217BF4;
  font-weight: 550;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.section1 .section1-container h1 {
  color: #0A093D;
  font-size: 60px;
  margin-bottom: 20px;
}
.section1 .section1-container P {
  margin-bottom: 50px;
}
.section1 .section1-container .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section1 .section1-container .buttons .sec1-btn1, .section1 .section1-container .buttons .sec1-btn2 {
  padding: 20px 40px;
  background-color: #217BF4;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
}
.section1 .section1-container .buttons .sec1-btn2 {
  background-color: transparent;
  color: #217BF4;
  border: 2px solid #217BF4;
}
.section1 .section1-container .d img {
  margin-top: -100px;
}

.section2 {
  height: 700px;
}
.section2 .sec2-container {
  margin: auto;
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.section2 .sec2-container .sec2-text {
  margin-top: 50px;
}
.section2 .sec2-container .sec2-text ul {
  color: #000;
}
.section2 .sec2-container .sec2-text ul li::marker {
  color: #217BF4;
}
.section2 .sec2-container .sec2-imges {
  display: flex;
  align-items: center;
  max-width: 550px;
  gap: 30px;
}

.section3 .sec3-container {
  margin: auto;
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.section3 .sec3-container .sec3-block1 {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
}
.section3 .sec3-container .sec3-block1 .bt {
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  background-color: #217BF4;
  font-weight: 550;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.section4 {
  background: linear-gradient(to right, #FFFFFF, #F1F6FD, #F1F6FD, rgba(241, 246, 253, 0));
  height: 800px;
  padding: 1px;
  margin-bottom: 100px;
}
.section4 .sec4-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section4 .sec4-container .sec4-block1 {
  background-color: rgb(255, 255, 255);
  width: 45%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.sec5-container {
  margin: auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.sec5-container .per1 {
  width: 20%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #F3F3F3;
  padding-bottom: 10px;
}

.section6 {
  background-color: #E5F0FD;
  height: 600px;
  padding: 1px;
  margin-bottom: 100px;
}
.section6 .sec6-container {
  margin: auto;
  max-width: 1300px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.section6 .sec6-container .sec6-text {
  width: 40%;
}

.sec7-container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.sec7-container .s1 {
  width: 30%;
  text-align: center;
}

.footer {
  background-color: #2B2B39;
  height: 350px;
}
.footer .footer-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer .footer-container input {
  padding: 15px 25px;
  border: 2px solid #fff;
  background: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
}
.footer .footer-container button {
  padding: 15px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  border: 2px solid #fff;
}

.end {
  background-color: #20202D;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 35px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */